.content {
  width: 80%;
  height: 100vh;
}

.contentHead {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .contentHead {
    align-items: center;
    background: radial-gradient(
        151.88% 64.7% at 0% 35.3%,
        rgba(83, 83, 83, 0.64) 0.55%,
        rgba(0, 0, 0, 0.64) 100%
      )
      #364066;
    color: #ffffff;
    position: relative;
    top: -25px;
  }
}
