* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("./Assets/Fonts/Inter.otf");
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
  background: #fcfcff;
}
